body {
    text-align: center;
    justify-content: center;
    background: linear-gradient(to left, #f1e495, #a79c06);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family:  cursive;
    user-select: none;

}

.add-btn {

    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    cursor: pointer;
  }

.container {
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-rows: 120px 120px 120px;
    grid-template-columns: 120px 120px 120px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(143, 141, 141);
    background-color: black;
    color: white;
}

#reset {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 200px;
    margin: 10px;
}


.head-text {
    font-size: 16px;
}

/* .hide {
    display:none
} */

.game-over {
    color:rgb(10, 114, 10);
    text-align: center;
    display: none;
    font-size: 16px;
    
}


span {
    font-size: 60px;
}

/* animational background style */

.elems {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.elems li {
    position: absolute;
    display: block;
    list-style: none;
    widows: 25px;
    height: 25px;
    background: rgba(160, 160, 160, 0.3);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.elems li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation-delay: 0s;
}

.elems li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.elems li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.elems li:nth-child(4) {
    left: 55%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation-delay: 0s;
    animation-duration: 15s;
}

.elems li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.elems li:nth-child(6) {
    left: 15%;
    width: 90px;
    height: 60px;
    animation-delay: 2.5s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* popup */
.setting {
    display: block;
    /* display: none; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 6px solid salmon; 
    padding: 2em;
    width: 400px;
    text-align: center;
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 10px;
    z-index: 999;
    width: 500px;
    max-width: 80%;
}
.setting.active {
    transform: translate(-50%, -50%) scale(1);
  }
.github {
    color: black;
}
.code-sourse {
    margin-top: 50px;
    bottom: 0;
    width: 100%;

}
  

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(121, 113, 234);
    pointer-events: none;
  }
  
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/* Media querie for 768 and max screens */

@media only screen and (min-width: 768px) {

    .grid-container {
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 150px 150px 150px;
    }

    .head-text {
        font-size: 30px;
    }
}